<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>William's Website</title>
        <link rel="icon" href="static/images/Favicon.png" type="image/png">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>
    
    <body>
        <header>
            <nav>
            <ul>
                <li><a>William Bowley<br>Inventor</a></li>
                <li><a>New Article<br>Open Source Brushless Linear Motor</a></li> 
                <li style="float:right"><a>Freelance Developer<br>From 20 November 2025</a></li>
            </ul>
            </nav>
        </header>

        <section class="intro">
            <div class="intro-text">
            <div class="main-text">
                <p style="font-size: 38px">Hardware</p>
                <p style="font-size: 45px">Developer.</p>
            </div>
            <div class="about">
                <p>
                I am an <b>Australian student</b> and <b>inventor</b>
                <br>
                passionate about building innovative hardware projects
                <br>
                including <b>linear motors</b> and <b> a electromagnetic coil-gun</b>
                </p>
            </div>
            </div>
        </section>

        <section class="gallery">
        <div class="scroll-down-arrow" id="scrollArrow"></div>
        <h1 style="font-weight: 600; font-size: 38px; color: #EEEEEE;">PROJECTS</h1>
        <div class="project-gallery">
            <div class="project-box">
            <a href="linear-motor.html">
                <div class="label">
                <p>Open source linear motor</p>
                <h2>Project Blue Shark | Linear Motor V1</h2>
                </div>
                <img src="static/images/linear_motor.png" alt="Linear Brushless Motor">
            </a>
            </div>
            <div class="project-box">
                <a href="Motor-Builder.html">
                <div class="label">
                <p>Linear Motor Builder And Optimizer</p>
                <h2 >Project Blue Shark | Optimization Tool </h2>
                </div>
                <img src="static\images\optimization.png" alt="Electromagnetic Coilgun">
                </a>
            </div>
            <div class="project-box">
            <a href="electromagnetic-coil.html">
                <div class="label">
                <p>Electromagnetic Gun with 10 stages.</p>
                <h2>Coil-Gun</h2>
                </div>
                <img src="static/images/coilgun.png" alt="Motor Builder">
                </a>
            <div class="project-box">
            </div>
        </div>
        </section>
        <script src="/static/javascript.js"></script>
    </body>
</html>