<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>William's Website</title>
        <link rel="icon" href="static/images/Favicon.png" type="image/png">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>
    
    <body>
        <header>
            <nav>
            <ul>
                <li><a>William Bowley<br>Inventor</a></li>
                <li><a>New Article<br>Open Source Brushless Linear Motor</a></li> 
                <li style="float:right"><a>Freelance Developer<br>From 20 November 2025</a></li>
            </ul>
            </nav>
        </header>

        <section class="intro">
            <div class="intro-text">
            <div class="main-text">
                <p style="font-size: 38px">Hardware</p>
                <p style="font-size: 45px">Developer.</p>
            </div>
            <div class="about">
                <p>
                I am an <b>Australian student</b> and <b>inventor</b>
                <br>
                passionate about building innovative hardware projects
                <br>
                including <b>linear motors</b> and <b>electromagnetic coil guns</b>
                </p>
            </div>
            </div>
        </section>

        <section class="gallery">
        <h1 style="font-weight: 600; font-size: 38px">Design And Work</h1>
        <div class="project-gallery">
            <div class="project-box">
            <a href="linear-motor.html">
                <div class="label">
                <p>An brushless, open-source linear drive.</p>
                <h2>Linear Motor</h2>
                </div>
                <img src="static/images/linear-motor-test.jpg" alt="Linear Brushless Motor">
            </a>
            </div>
            <div class="project-box">
            <a href="electromagnetic-coil.html">
                <div class="label">
                <p>Electromagnetic launcher with 10 stages.</p>
                <h2>Coilgun Project</h2>
                </div>
                <img src="static\images\coilgun.JPG" alt="Electromagnetic Coilgun">
            </a>
            </div>
        </div>
        </section>
    </body>
</html>