<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>William's Website</title>
        <link rel="icon" href="static/images/Favicon.png" type="image/png">
        <link rel="stylesheet" href="static/styles/landingpage.css" type="text/css">
    </head>
    
    <body>
        <header>
            <nav>
            <ul>
                <li>
                    <a href="/" id="home"><b>William</b>
                        <br>
                        <span class="under-text-color">Bowley</span>
                    </a>
                </li>
                <li>
                    <a>
                        <b>New Project</b>
                        <br>
                        <span class="under-text-color">Open Source Brushless Linear Motor</span>
                    </a>
                </li> 
                <li style="float:right">
                    <a>
                        <b>Freelance Developer</b>
                        <br>
                        <span class="under-text-color">From 20 November 2025</span>
                    </a>
                </li>
            </ul>
            </nav>
        </header>

        <section class="intro">
            <div class="content-wrapper">
                <div class="intro-text">
                    <div class="main-text">
                        <p style="font-size: 38px"><span class="under-text-color">Student.</span></p>
                        <p style="font-size: 45px">Inventor.</p>
                    </div>
                    <div class="about">
                        <p>
                            I am an <b>Australian student</b> and <b>inventor</b><br>
                            passionate about creating innovative hardware<br>
                            including <b>linear motors</b> and <b>LiPo chargers</b>,<br>
                            with a focus on <b>programming</b> and <b>optimization</b>.
                        </p>
                    </div>

                    <nav class="small-nav">
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="#gallery">Projects</a></li>
                            <li><a href="#articles">Articles</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <section class="gallery" id="gallery">
        <div class="scroll-down-arrow" id="scrollArrow"></div>
        <div class="content-wrapper">
            <div class="section-title">
                <h1>Projects</h1>
            </div>
            <div class="project-gallery">
            <div class="project-box">
            <a href="linear-motor.html">
                <div class="label">
                <p>Open source linear motor</p>
                <h2>Project Blue Shark | Linear Motor V0</h2>
                </div>
                <img src="static/images/linear_motor.png" alt="Linear Brushless Motor">
            </a>
            </div>
            <div class="project-box">
                <a href="Motor-Builder.html">
                <div class="label">
                <p>Linear Motor Designer And Optimizer</p>
                <h2 >Project Blue Shark | Optimization Tool </h2>
                </div>
                <img src="static\images\optimization.png" alt="Electromagnetic Coilgun">
                </a>
            </div>
            <div class="project-box">
            <a href="projects/coilgun">
                <div class="label">
                <p>Electromagnetic Gun with 10 stages.</p>
                <h2>Coil-Gun</h2>
                </div>
                <img src="static/images/coilgun.png" alt="Motor Builder">
                </a>
            <div class="project-box">
            </div>
            </div>
        </div>
        </section>

        <section class="articles" id="articles">
            <div class="content-wrapper">
                <div class="section-title">
                    <h1>Articles</h1>
                </div>

                <div class="article" data-href="/the-author-and-his-death.html">
                <h2 class="article-title">The Authors Death: Who Tells Your Story When You’re Gone?</h2>
                <p class="article-description">
                    We spend our lives writing our own story—line by line, choice by choice. 
                    But in death, the pen passes to others, and suddenly, the story is no longer ours to tell.
                </p>
                <p class="article-date">September 20th, 2025</p>
                </div>

                <div class="article" data-href="/the-author-and-his-death.html">
                <h2 class="article-title">My first books: Foundation, Foundation And Empire, Second Empire </h2>
                <p class="article-description">
                    For the longest time teachers, parents and mentors said it takes just one book to make you love 
                    reading. It took me 14 years but with reading foundaion by Isaac Asimov. I love it now. 
                </p>
                <p class="article-date">July 15th, 2025</p>
                </div>
            </div>
        </section>

        <footer class="footer">
        <!-- Left side content -->
            <div class="footer-left">
                <nav>
                    <ul>
                    <li>
                        <a style="padding-left: 0px; padding-right: 0px;">
                        <b>2026</b><br>
                        <span class="under-text-color">2025</span>
                        </a>
                    </li>
                    <li style="margin-top:5px;">
                        <a style="padding-left:10px; padding-right: 10px;">
                        <b>©</b>
                        </a>
                    </li>
                    <li>
                        <a style="padding-left: 0px; padding-right: 0px;">
                        <b>William</b><br>
                        <span class="under-text-color">Bowley</span>
                        </a>
                    </li>
                    <li style="margin-left: 30px;">
                        <a style="padding-bottom: 0px;">
                        <b>pages</b>
                        </a>
                        <nav class="footer-nav">
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="#gallery">Projects</a></li>
                            <li><a href="#articles">Articles</a></li>
                        </ul>
                        </nav>
                    </li>
                    </ul>
                <nav>
            </div>

            <!-- Right side content (email and phone) -->
            <div class="footer-right">
                <nav>
                    <ul>
                    <li>
                        <a>
                        <b>Email</b><br>
                        <span class="under-text-color">wgrantbowley@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a>
                        <b>Phone Number</b><br>
                        <span class="under-text-color">0422413608</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>

        </footer>

        <script src="/static/scripts/landingpage.js"></script>
    </body>
</html>