<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>William's Website | CoilGun</title>
        <link rel="icon" href="/static/images/Favicon.png" type="image/png">
        <link rel="stylesheet" href="/static/styles/projects.css" type="text/css">
    </head>
    
    <body>
        <header>
            <nav>
            <ul>
                <li>
                    <a href="/" id="home"><b>William</b>
                        <br>
                        <span class="under-text-color">Bowley</span>
                    </a>
                </li>
                <li>
                    <a>
                        <b>Portfolio Project</b>
                        <br>
                        <span class="under-text-color">10 Stage Electromagnetic Gun</span>
                    </a>
                </li> 
                <li style="float:right">
                    <a>
                        <b>Relase Date</b>
                        <br>
                        <span class="under-text-color">May 5th, 2025</span>
                    </a>
                </li>
            </ul>
            </nav>
        </header>

        <section class="intro">
            <div class="content-wrapper">
                <div class="intro-text">
                    <div class="image-stack">
                        <img src="/static/images/coil_gun_side_profile.png" alt="10 stage Coil Gun" class="intro-image base" 
                            style="margin-left: 700px; padding-top: 50px;"
                        />
                    </div>

                    <div class="text-overlay">
                        <div class="main-text">
                        <p style="font-size: 38px"><span class="under-text-color">10 Stage.</span></p>
                        <p style="font-size: 45px">Magnetic Gun.</p>
                        </div>
                        <div class="about">
                        <p>
                            <b>10 Staged</b> Coil Gun Powered by <br>
                            <b>20-30 VDC</b>, launches projectiles at <b>13-14 m/s</b> <br>
                            with peak currents of <b>30-40</b> Amperes per stage.
                        </p>
                        </div>

                        <nav class="small-nav">
                        <ul>
                            <li>
                            <a href="https://github.com/wgbowley/CoilGun" target="_blank" rel="noopener noreferrer" aria-label="GitHub Repository">
                                <img src="/static/icons/github-mark-white.png" alt="GitHub Logo"
                                    style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;" />
                            </a>

                            <span id="github-stats" style="font-size: 14px; color: var(--sub-color);">

                                <a href="https://github.com/wgbowley/CoilGun/stargazers" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
                                <img src="/static/icons/star-mark-white.png" alt="Star icon"
                                    style="width: 24px; height: 24px; vertical-align: middle; margin-right: 4px;" />
                                <span id="star-count">--</span>
                                </a>

                                <a href="https://github.com/wgbowley/CoilGun/network/members" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
                                <img src="/static/icons/fork-mark-white.png" alt="Fork icon"
                                    style="width: 15px; height: 24px; vertical-align: middle; margin-left: 16px;" />
                                <span id="fork-count">--</span>
                                </a>

                            </span>
                            </li>
                        </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/static/scripts/portfolio.js"></script>
    </body>
</html>